<div class="app-login">
  <div class="app-login__aside">
    <div class="container">
      <h1 class="aside-title">
        {{ ("text.Login_aside" | translate).toUpperCase() }}
      </h1>
      <div class="create-account-area">
        <h2 class="create-text">{{ "label.No_have_account" | translate }}</h2>
        <span (click)="createAccount()" class="create-button">{{
          "label.Create_now" | translate
        }}</span>
      </div>
    </div>
  </div>
  <div class="app-login__form">
    <div class="container">
      <div class="title-login">
        <img
          class="logo"
          src="../../../assets/images/logo/logo.png"
          alt="logo-pequena"
        />
        <h1 class="form-title">{{ "label.Login" | translate }}</h1>
        <h2>{{ "text.Login_subtitle" | translate }}</h2>
      </div>
      <form class="form">
        <span class="form--label">{{ 'label.Email' | translate }}</span>
        <input-email
          [suFixIcon]="'email'"
          [typee]="'rounded-field'"
          [form]="form"
          name="email"
        ></input-email>
        <span class="form--label">{{ 'label.Password' | translate }}</span>
        <input-password
          [form]="form"
          name="password"
          [typee]="'rounded-field'"
        ></input-password>
        <span class="recover-password">{{
          "label.Recover_password" | translate
        }}</span>
        <button class="button">
          <span>{{ "label.Login" | translate }}</span>
        </button>
      </form>
      <span class="spacer">{{ "label.or" | translate }}</span>
      <div class="login-social">
        <button class="login-social__buton">
          <img class="logo" src="../../../../assets/images/logo/google.png" alt="login com google">
          <span class="label">{{ 'label.Login_with_google' | translate }}</span>
        </button>
        <button class="login-social__buton">
          <img class="logo--face" src="../../../../assets/images/logo/facebook.png" alt="login com facebook">
          <span class="label">{{ 'label.Login_with_facebook' | translate }}</span>
        </button>
      </div>
    </div>
  </div>
</div>
