@import "../../../assets/styles/colors.scss";

.app-footer {
    padding: 16px 32px;
    background-color: $default-grey;
    &__info-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        .item {
            &.first {
                grid-area: 1 / 1 / 2 / 3;
            }
            &.last {
                grid-area: 1 / 5 / 2 / 7;
            }
            &--title {
                font: normal normal 600 16px/16px "Inclusive Sans";
            }
        }
    }
}