@import "../../../assets/styles/colors.scss";

.app-footer {
    padding: 16px 44px;
    background-color: $default-grey;
    color: $default-grey-medium;
    &__info-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}