@import "../../../assets/styles/colors.scss";
@import "../../../assets/styles/fonts.scss";
@import "../../../assets/styles/media-query.scss";
@import "../../../assets/styles/styles.scss";

.app-product {
  display: flex;
  &__details {
    width: 100%;
  }
  &__images {
    flex-basis: 70%;
    &--image-area {
      display: flex;
      align-items: center;
      .container {
        height: 718px;
        width: 960px;
        position: relative;
      }
      .image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
      }
      .buttons-container {
        position: absolute;
        top: 16px;
        right: 24px;
        display: flex;
      }
      .button-bids {
        margin-right: 20px;
        .bids {
          padding-left: 8px;
          font-weight: 800;
          font-size: $default-text-p;
        }
      }
      .button-options {
        border-radius: 100%;
        display: flex;
        align-items: center;
        padding: 8px 8px;
        .icon {
          font-size: $default-text-xg;
        }
      }
    }
  }

  &__body {
    flex-basis: 30%;
    padding-right: 32px;
    height: 718px;
    padding-top: 100px;
    &--title {
      display: flex;
      flex-direction: column;
      .text {
        font-size: $default-text-m;
      }
      .value {
        padding-left: 12px;
        font-size: $default-text-m;
        font-weight: 800;
      }
    }
    &--description {
      margin-top: 44px;
      .description {
        font-weight: 400;
        font-size: $default-text-m;
      }
      .semi-details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .detail {
          margin-top: 55px;
          &--title {
            margin-bottom: 0px;
            font-size: $default-text-m;
            font-weight: 500;
          }
          &--icon {
            color: $default-white;
          }
          .icon {
            background-color: $default-color;
            padding: 8px;
            display: flex;
            border-radius: 100%;
            margin-right: 8px;
          }
          &--value {
            font-size: $default-text-p;
            margin: 0px;
          }
        }
      }
    }
    &--details {
      margin-top: 44px;
      .tab-details {
        padding-top: 32px;
        &__owner {
          display: flex;
          flex-direction: column;
          .title {
            margin-bottom: 12px;
            font-size: $default-text-m;
            font-weight: 500;
          }
          .row--icon {
            background-color: $default-color;
            padding: 8px;
            display: flex;
            border-radius: 100%;
            margin-right: 8px;
            .icon {
              color: $default-white;
            }
          }
          .name {
            font-size: $default-text-p;
            font-weight: 800;
          }
        }
      }
      .button-bid {
        margin-top: 24px;
        border: none;
        font-weight: 600;
        cursor: pointer;
        color: $default-color;
        font-size: 16px;
        padding: 8px;
        width: 100%;
        background-color: #e5dbfe;
        border-radius: 40px;
      }
    }
  }
}

@keyframes ghost {
  from {
    background-position: 0vw 0;
  }
  to {
    background-position: 100vw 0;
  }
}

.loading-class {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  border-radius: 3px;
  background: linear-gradient(90deg, #f0f0f0, #d8d6d6, #f0f0f0) 0 0/ 80vh 100% fixed;
  background-color: rgb(204, 199, 199);
  animation: ghost 750ms infinite linear;
}