<card-base>
    <div class="app-home">
        <div class="app-home__header">
            <app-title [title]="'label.Explore_Products' | translate"></app-title>
        </div>
        <div class="app-home__body">
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>

        </div>
        <div class="app-home__"></div>
    </div>
</card-base>

