<form
  class="default-input"
  [formGroup]="form"
  #field
  [ngClass]="{'rounded-field': typee === 'rounded-field' }"
  style="width: 100%"
>
  <mat-label class="input-label" *ngIf="label">{{ label }}</mat-label>
  <div class="input-area">
    <mat-icon class="prefix-icon" *ngIf="preFixIcon">{{ preFixIcon }}</mat-icon>
    <input
      matInput
      [style.padding-left]="preFixIcon ? '36px' : '16px'"
      [style.padding-right]="suFixIcon ? '36px' : '16px'"
      class="input"
      [placeholder]="placeholder"
      [formControlName]="name"
      [readonly]="readonly"
      [type]="type"
      #text
    />
    <mat-icon class="sufix-icon" *ngIf="suFixIcon">{{ suFixIcon }}</mat-icon>
  </div>
  <mat-hint *ngIf="hint" [innerHTML]="hint"></mat-hint>
  <!-- <mat-error *ngIf="hasError('required')">AAA</mat-error> -->
</form>
