$default-color: #7854EC;
$default-white: #EBEBF1;
$color-white: #FFFFFF;
$default-grey: #E7E7E7;
$default-light-grey: #f1f1f1;
$default-grey-medium: #747474;
$selected-grey: #f0f4f7;
$default-yellow: #DD8D29;
$default-red: #d73e37;