.button-white {
  background-color: white;
  border: none;
  display: flex;
  padding: 8px 24px;
  align-items: center;
  border-radius: 100px;
  justify-content: space-between;
}

.row {
  display: flex;
  align-items: center;
}

.default-button {
  font-weight: 600;
  font-size: 16px;
  border-radius: 30px;
  width: 100%;
  padding: 8px;
  border: none;
  cursor: pointer;
}

.default-tabs {
  ::ng-deep {
    .mat-mdc-tab {
      flex-grow: unset !important;
    }
    .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
      color: black !important;
    }
    .mdc-tab-indicator .mdc-tab-indicator__content {
      border-color: black !important;
    }
    .mat-mdc-tab.mdc-tab--active:hover .mdc-tab-indicator__content--underline {
      border-color: black !important;
    }
    .mat-mdc-tab.mdc-tab--active:focus .mdc-tab-indicator__content--underline {
      background-color: black !important;
    }
    .mat-tab-label:hover:not(.mat-tab-disabled) {
      background-color: unset !important;
    }
    .mat-tab-label-active {
      background-color: unset;
    }
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}